!!! 5
html
    head
        title=pageName
    body
        div
            p: a(href="/") Home

        p: span Add book to library

        form(name="addbook", action="/books", method="post")
            div
                dt: span name
                dd: input(id="book_name", type="text", name="name")
                dt: span description
                dd: input(id="book_description", type="text", name="description")
                dt: span price
                dd: input(id="book_price", type="text", name="price")
                dt: span available
                dd: input(id="book_availability", type="checkbox", checked, name="available")
            div
                input(id="submit", type="submit", value="Add book")

        div
            p: a(href="/books") Back to all books
