!!! 5
html
    head
        title=pageName
    body
        form(name="searchbook", action="/books/search", method="post")
            span Search
            input(type="text", name="criteria")
            input(type="submit", value="Search")

        ul#books
            for book in books
                if book.available
                    li
                        | #{book.id} -
                        a(href="/books/#{book.id}")=book.name
                        =' '
                        | for £ #{book.price}

        p
            strong Add a book
        form(name="addbook", action="/books", method="post")
            div
                dt: span name
                dd: input(type="text", name="name")

                dt: span description
                dd: input(type="text", name="description")

                dt: span price
                dd: input(type="text", name="price")

                dt: span available
                dd: input(type="checkbox", checked, name="available")
            div
                input(type="submit", value="Add book")
