!!! 5
html
    head
        title Order Confirmation
    body
        div
            p: a(href="/") Home
        div
            p: strong Order Confirmation
            p
                span Thanks for your order. A confirmation email was sent to you.

        div
            a(id="orders", href="/orders") Order history